-
    var meta = {
        url: 'https://alisheroff.me/',
        base: '/',
        lang: 'en',
        locale: 'en_US',
        title: 'Layout',
        description: 'Sample for html, css, js layout building',
        keywords: 'html, css, js',
        favicon: '/images/favicon.png',
        image: {
            url: 'images/meta-image-default.jpg',
            width: 500,
            height: 500
        }
    }
    var assets = {
        skeleton: {
            fonts: [
                //- '/fonts/font-file.css'
            ],
            styles: [
                '/styles/main.css'
                //- '/styles/style-file.css'
            ],
            scripts: [
                '/scripts/functions.js'
            ]
        },
        layout: {
            public: {
                styles: [
                    //- '/styles/style-file.css'
                ],
                scripts: [
                    //- '/scripts/script-file.js'
                ]
            }
        }
    }